.section1 {
  text-align: center;
}
.gallery {
  text-align: center; /* Pour centrer les éléments */
}
.gallery-item {
  display: inline-block;

  margin: 10px; /* Espace entre les éléments */
  vertical-align: top; /* Alignement en haut des éléments */
  text-align: left; /* Alignement du texte à gauche */
}

li {
  list-style: none;
}
body {
  background-image: url("../assets/Illustrations-20231010T213724Z-001/Illustrations/Bathome1.png");
}
p,
h1,
h2,
h3,
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: brown;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  border-bottom: 1px solid #fffefe;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.section1 {
  margin-top: 100px;
}
.section1 p {
  font-size: 20;
  font-weight: 100;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
}
.buttons a {
  background-color: rgb(191, 190, 190);
  padding: 12px;
}
.logo img {
  margin-top: 200px;
}
.section2 {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: black;
  border: 1px solid gray;
  padding: 100px;
}
.footer1 {
  background-color: rgb(132, 169, 96);
}
.Citation {
  display: flex;
  background-color: black;
  padding: 60px;
  height: 600px;
}
.Citation p {
  color: white;
}
.sidebar {
  float: right;
  margin: 20px;
}
